table{
    border: 11px solid rgb(127, 200, 127);
}
h1{
    text-align: center;
}
tr, th{
    color: lightskyblue;
    background-color: purple;
}
tr, td{
    color: blue;
    background-color: pink;
}
td:hover{
    color: lightblue;
    background-color: violet;
}